<link rel="stylesheet" type="text/css" href="/css/activity.css">
<h1>YOUR ACTIVITY</h1>
<div id='activityContainer'>

<div id='postsContainer'></div>

</div>


<script type="text/javascript" src="/js/activity.js"></script>
