
<h1>Selfie!</h1>
<!-- <input type="file" id="take-picture" accept="image/*"> -->

    <script src="/js/webcamjs-master/webcam.js"></script>


    <div id="my_camera" style="width:320px; height:240px;"></div>
    <div id="my_result"></div>

    <button><a href="javascript:void(take_snapshot())">Take Snapshot</a></button>

    <script src="/js/camera.js"></script>