<h1>compliment (secret)</h1>
<div id="compCont">
  <div id="question">
    <ul id="questions"></ul>
  </div>
  <div id="response"></div>
</div>

<script type="text/javascript" src="/js/compliments.js"></script>