<link rel="stylesheet" type="text/css" href="/css/compliment.css">

<h2>COMPLIMENT</h2>
<div id="compCont">
  <div class = "icon-row">
    <div class = "icon" id = "dance">
    </div>
    <div class = "icon" id = "eyes">
    </div>
    <br>
    </div>
    <div class = "icon-row">
    <div class = "icon" id = "clothes">
    </div>
    <div class = "icon" id = "perfect">
    </div>
    </div>
    <br>
    <div class = "line">
    </div>
<div class = "icon-row">

  <div>
    <ul id="questions"></ul>
  <div class = "inputCompliment hidden"
    <form class="hidden">
      <input id="inputText" type="text" name="complimentText">
      <input id="inputSubmit" type="submit" value="SUBMIT">
    </form>
  </div>
  <div id="response">
    <ul id="responses"></ul>
    </div>
  </div>
</div>
</div>
<div id='presontation'>
  <button id='translate'>Translate</button>
</div>

<script type="text/javascript" src="/js/compliments.js"></script>