<link rel="stylesheet" type="text/css" href="/css/compliment.css">

<h1>compliment (secret)</h1>
<div id="compCont">
  <div id="question">
    <ul id="questions"></ul>
  </div>
  <div>
    <form class="hidden">
      <input id="inputText" type="text" name="complimentText">
      <input id="inputSubmit" type="submit">
    </form>
  </div>
  <div id="response">
    <ul id="responses"></ul>
  </div>
</div>

<script type="text/javascript" src="/js/compliments.js"></script>