<h1>Drink Type</h1>
<div id="drinkCont">
  <div id="question">
    <ul id="questions"></ul>
  </div>
  <div id="response"></div>
    <ul id="responses"></ul>
</div>

<script type="text/javascript" src="/js/drinkType.js"></script>