<div id='nameQuestion'></div>

<form id="getNameForm">
  <input id="inputText" type="text" name="personName">
  <input id="inputSubmit" type="submit" value="SUBMIT">
</form>


<script type="text/javascript" src="/js/getName.js"></script>