<h2>GET INVOLVED</h2>
<div class = "icon-row">
<div class = "icon" id = "drink">
</div>
<div class = "icon" id = "smoke">
</div>
<br>
</div>
<div class = "icon-row">
<div class = "icon" id = "selfie">
</div>
<div class = "icon" id = "compliment">
</div>
</div>
<br>
<div class = "line">
</div>
<br>
<div class = "icon-row" id = "bye">
</div>