<!DOCTYPE html>
<html>
<head>
  <title>Wingman</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="login">Log in</a></li>
        <li><a href="register">Register</a></li>
      </ul>
    </nav>
  </header>
  <h1>Wingman</h1>
  <p>this <a href="secretroom">link</a> is a secret place which should only be accessible to logged in users.</p>
</body>
</html>