<!DOCTYPE html>
<html>
<head>
  <title>Wingman</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="login">Log in</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
  </header>
  <h1>Wingman</h1>
</body>
</html>