<link rel="stylesheet" type="text/css" href="/css/lang.css">

<div class = "icon-row">
<div class = "icon" id = "spain" data-lang = "es">
</div>
<div class = "icon" id = "france" data-lang = "fr">
</div>
<div class = "icon" id = "germany" data-lang = "de">
</div>
</div>
<div class = "icon-row">
<div class = "icon" id = "russia" data-lang = "ru">
</div>
<div class = "icon" id = "netherlands" data-lang = "nl">
</div>
<div class = "icon" id = "italy" data-lang = "it">
</div>
</div>
<div class = "icon-row">
<div class = "icon" id = "poland" data-lang = "pl">
</div>
<div class = "icon" id = "portugal" data-lang = "pt">
</div>
<div class = "icon" id = "greece" data-lang = "hl">
</div>
</div>
<div class = "icon-row">
<div class = "icon" id = "hungary" data-lang = "hu">
</div>
<div class = "icon" id = "israel" data-lang = "he">
</div>
<div class = "icon" id = "uae" data-lang = "ar">
</div>
</div>

<button id='dontTans'><div data-lang="EN">USE ENGLISH</div></button>

<script type="text/javascript" src="/js/lang.js"></script>