<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wingman</title>
  <link rel="stylesheet" type="text/css" href="/css/layoutStyle.css">
</head>
<body>
  <div id='masterContainer'>
    <%- body %>
  </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>