<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WINGMAN</title>
  <link rel="stylesheet" type="text/css" href="/css/layoutStyle.css">
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <div id='masterContainer'>
    <%- body %>
  </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>