
  <img id="glasses-small" src="/images/logo.png">
  <h1>WING IT</h1>
  <form method="post" action="/login">
    <div class="form-group">
      <label for="username">CHOOSE USERNAME</label>
      <input class="form-control" type="text" name="username" id="username">
    </div>

    <div class="form-group">
      <label for="password">CHOOSE PASSWORD</label>
      <input class="form-control" type="password" name="password" id="password">
    </div>

    <div class="button-div">
      <input class="submit-button" type="submit"value="REGISTER">
    </div>
  </form>
  
