body {
  background: black;
}

#masterContainer{
  display: block;
  width: 90%;
  min-height: 900px;
  margin: 0 auto;
  padding: 10px;
  background: white;
  border: solid black 5px;
  border-radius: 15px;
}